.box {
  width: 100%;
  height: 20%;
  display: grid;
  place-items: center;
  place-content: center;
  border-bottom: 1px solid white;
}
.boxNav{
  width: 100%;
  min-width: 30vw;
  padding: .8rem;
  padding-left: 4rem;
  color: white;
  /* border: 1px solid white; */
}
.boxNav:hover{
  color: black;
  background-color: hsl(0, 0%, 100%,0.5);
}
.boxNavFooter{
  width: 100%;
  min-width: 30vw;
  padding: .8rem;
  /* margin-top: 7rem; */
}
.icon{
  margin-right: 19px ;
  width: 14px;
  /* height: 13px; */
  line-height: 48px;
  margin-top: 3px;
}